/*------symbol-------
 &#119070;
                */
body {
    font-family: 'Linden Hill',serif;
    padding: 0;
    font-size: 2rem;
    text-align: center;
}
.media-body {
    text-align: justify;
    padding: 50px 200px 150px 200px;
    margin: 0;

}
ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.row {
    margin: 0;
}

/*---------Navbar----------*/

.navbar {
    margin:0;
    padding:10px;
    width: 100%;
    background-color: #000000;
    font-weight:600;
    color: #977b40;
    position: absolute;
    z-index: 1;
    font-size: 2rem;
}
.navbar .navbar-toggle {
    border: none;
    
}
.navbar .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar .navbar-toggle:hover {
    background-color: transparent;
}


.navbar .navbar-brand:hover{
     color: #977b40;
}
.navbar .navbar-brand:focus {
     color: #977b40;
}
.navbar-default .navbar-nav>li>a {
    color: #977b40;

}
 .navbar-default .navbar-nav>li>a:hover {
    outline: groove #977b40 2px;
    color: #977b40;
  
  
}
 .navbar-default .navbar-nav>li>a:focus {
    color: #977b40;
    font-size: x-large;
 }
.navbar .navbar-brand {
    color: #977b40;
    font-family: 'Monoton', cursive;
    font-size: 8rem;
    font-weight: 500;
    margin-top: 30px;
    border: 0;
}
    
  /*-------containers--------*/
.callout-container {
    height: 100vh;
    max-width: 100%;

    background: url('../images/Guitar.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

 /*--------- Page Headers ------*/
.page-header {
 
    text-align: center;
    border-bottom: none;
    padding: 5rem;
    margin: 0;
}


.media-object {
    display: block;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0; 
    width: relative;
}

/*--------contact------*/
.center-form {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    max-width: 70%;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 12px;
    font-size: 14px;
    margin-top: 15px;
    color: #171515;
    background-color: #eee;
    background-image: none;
    border: 1px solid #977b40;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
   
}

.form-control:focus {
    border: solid #977b40;
}

button[type="submit"]{
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #000000;
    color: #977b40;
}
button[type="submit"]:hover {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #977b40;
    color:#fafafa;
}

/*----Footer--------*/

.social-links {
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: 30px;

  
}

.social-links li a i{
    width: 10vh;
   height: 10vh;
 font-size: 200%;
 line-height: 10vh;
 border-radius: 30%;
     background-color: #000000;
    color: #977b40;
     transition: all 0.40s ease-in-out;
   -moz-transition: all 0.40s ease-in-out;
   -webkit-transition: all 0.40s ease-in-out;
   -o-transition: all 0.40s ease-in-out;
}

.social-links li a i:hover {
     border-radius: 30%;
    height: 15vh;
    width: 15vh;
    font-size: 200%;
    line-height: 15vh;
}

.img-circle{
    border-radius: 30%;
    height: 10vh;
    width: 10vh;
     background-color: rgb(86, 0, 1);
     transition: all 0.40s ease-in-out;
   -moz-transition: all 0.40s ease-in-out;
   -webkit-transition: all 0.40s ease-in-out;
   -o-transition: all 0.40s ease-in-out;
}
.img-circle:hover{
    border-radius: 30%;
    height: 15vh;
    width: 15vh;
     background-color: rgb(86, 0, 1);

}
.railway-logo {
     background-color: rgb(86, 0, 1);
}
/*-----video------*/

video {
    width: 80vh;
}
/*-------media-queries---------*/

@media (max-width:760px){
.media-body {
    text-align: justify;
    padding: 30px;
}
.navbar .navbar-brand {
    color: #977b40;
    font-family: 'Monoton', cursive;
    font-size: 4rem;
    font-weight: 500;
    margin: 0;
    border: 0;
    padding-top: 30px;
    padding-bottom: 50px;
}

.callout-container {
    background-position: left;
}

.media-object {
    display: block;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

video {

    display: block;
    height: 40vh;
    width: 40vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0;


}
.page-header {
 
   padding: 0;
}

.navbar-toggle {
    position: absolute;
    margin-top: 25px;
    padding-left: 0;
}
p {
    margin:0;
}
}

