/*------symbol-------
 &#119070;
 http://www.codetable.net/decimal/119070
                */
body {
    font-family: 'Linden Hill',serif;
    padding: 0;
    font-size: 2rem;
    text-align: center;
    color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
}
.media-body {
    text-align: justify;
    padding: 50px 200px 150px 200px;
    margin: 0;
}

li {
    list-style: none;
}
ol {
    padding: 0;
    list-style: none;
}
ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.row {
    margin: 0;
}

a {
    color: #8a6d3b;
    text-decoration: none;
}

a:focus {
    color: #8a6d3b;
    text-decoration: none;
}
a:hover { 
    color: #8a6d3b;
}

.list-inline {
    height: 20vh;
}
.media-middle 
{ height: auto;
  width:100%;
}

/*---------Navbar----------*/

.navbar {
    margin:0;
    padding-bottom: 15px;
    width: 100%;
    background-color: #000000;
    font-weight:600;
    color: #977b40;
    position: absolute;
    z-index: 1;
    font-size: 2rem;
}
.navbar .navbar-toggle {
    border: none;
    
}
.navbar .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar .navbar-toggle:hover {
    background-color: transparent;
}


.navbar .navbar-brand:hover{
     color: #977b40;
}
.navbar .navbar-brand:focus {
     color: #977b40;
}
.navbar-default .navbar-nav>li>a {
    color: #977b40;

}
 .navbar-default .navbar-nav>li>a:hover {
    outline: groove #977b40 2px;
    color: #977b40;
  
  
}
 .navbar-default .navbar-nav>li>a:focus {
    color: #977b40;
    font-size: x-large;
 }
.navbar .navbar-brand {
    color: #977b40;
    font-family: 'Monoton', cursive;
    font-size: 8rem;
    font-weight: 500;
    margin-top: 30px;
    border: 0;
}
    
  /*-------containers--------*/
#Contact {    
    background-color: #333333d6;
    padding-top: 70px;
    padding-bottom: 50px;
}



/*---Animation---*/

.Main {
    font-weight: 600;
    background-color:rgb(245, 245, 245);
    background-color:rgba(245, 245, 245, 0.86);
    padding-bottom: 50px;
    animation-name: onload;
    animation-timing-function:ease-in;
    animation-fill-mode:forwards;
    animation-duration: 3s;
    animation-iteration-count: 1;
       
}
 @keyframes onload {
  
  from{
      transform:translateY(600px);
        
    }
   to{
       transform: translateY(70px);
    }
}



 /*--------- Page Headers ------*/
.page-header {
 
    text-align: center;
    border-bottom: none;
    padding-top: 50px;
    }


.media-object {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 0; 
 
}
/*-----Performances------*/

video {
width:90%;
height:auto;
} 


.carousel-caption {
    color: #977b40;
    font-size: 32px;
    font-weight: 400;
    text-shadow: none;
    position: inherit;
    margin-top: 0px;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.85);
}


.carousel-inner {
    height: 700px;
    margin-top: 95px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    height: 50vh;
}

.Performance-list {
    color: #050505;
    font-weight: 700;
    font-size: 32px;
}

.img-thumbnail{
    max-width: 200px;
    border:none;
    background-color: transparent;
}
/*--------contact-us------*/
.center-form {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    max-width: 70%;
}


.contact-us {
    color: #977b40;
    font-weight: 600;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    font-size: 14px;
    margin-top: 15px;
    color: #171515;
    background-color: #eee;
    background-image: none;
    border: 1px solid #977b40;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
   
}

.form-control:focus {
    border: solid #977b40;
}

button[type="submit"]{
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #000000;
    color: #977b40;
}
button[type="submit"]:hover {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #977b40;
    color:#fafafa;
}

/*----Footer--------*/

.mysocial {
    padding-bottom: 0px;
    padding-top: 30px;
    margin-bottom: 50px;
  
}

.mysocial li a i{
    width: 10vh;
   height: 10vh;
   font-size: 5vh;
 line-height: 10vh;
 border-radius: 30%;
     background-color: #000000;
    color: #977b40;
     transition: all 0.40s ease-in-out;
   -moz-transition: all 0.40s ease-in-out;
   -webkit-transition: all 0.40s ease-in-out;
   -o-transition: all 0.40s ease-in-out;
}


.img-circle{
    border-radius: 30%;
    height: 10vh;
    width: 10vh;
     background-color: rgb(86, 0, 1);
     transition: all 0.40s ease-in-out;
   -moz-transition: all 0.40s ease-in-out;
   -webkit-transition: all 0.40s ease-in-out;
   -o-transition: all 0.40s ease-in-out;
}

.railway-logo {
     background-color: rgb(86, 0, 1);

}

.fa {
    vertical-align: middle;
}

.copyright{
    color: #977b40;
}


/*-------media-queries---------*/
@media(min-width:767px){
    .mysocial li a i:hover {
     border-radius: 30%;
    height: 15vh;
    width: 15vh;
    font-size: 200%;
    line-height: 15vh;
        
    }
    
    .img-circle:hover{
    border-radius: 30%;
    height: 15vh;
    width: 15vh;
    background-color: rgb(86, 0, 1);
}
}
@media (max-width:768px){
.media-object {
    display: block;
     width: 100%;
}
    
.media-body {
    text-align: center;
    padding: 10px;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.navbar {
    padding-bottom: 0;
}
.navbar .navbar-brand {
    color: #977b40;
    font-family: 'Monoton', cursive;
    font-size: 4rem;
    font-weight: 500;
    margin: 0;
    border: 0;
    padding-top: 30px;
    padding-bottom: 50px;
}

.page-header {
 
   padding: 0;
}

.navbar-toggle {
    position: absolute;
    margin-top: 25px;
    padding-left: 0;
}
p {
    margin:0;
}


.carousel-caption {
    font-size: 20px;
}

.carousel-inner {
    height: 400px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    height: 250px;
}
.Performance-list {
    margin-top: 0;
}


}
